# Python
__pycache__/
*.pyc
*.pyo
*.pyd
.Python
env/
venv/
pip-cache/
pip-log.txt
.eggs/
*.egg-info/
*.egg

# Node
node_modules/
npm-debug.log
yarn-error.log
dist/
build/

# Backend specific
backend/venv/
backend/instance/
.web-containers/
.DS_Store